.order-page-wraper a {
    color: #4724AA;
    text-decoration: none;
}
.order-page-wraper {
    margin: 40px ;
}
.order-page-wraper h4 {
    font-family: 'Merriweather', serif;
    margin: 40px 7px;
    
}

.order-page-wraper .order-page-from-wraper {
    background-color: white;
    padding: 30px;
    margin: 0 7px;
    
}

.order-page-wraper .order-page-from-wraper .form-control {

    border-radius: 0;
    background-color: #F4F4FB;
} 
.order-page-wraper .order-page-from-wraper .order-page-form-instruct-text {
    color: #6B737C;
    font-size: 14px;
    font-weight: 300;
}

.order-page-wraper .order-page-from-wraper .form-control:focus {
    box-shadow: none;
    background-color: white;
    border-color: black;
}


.order-page-wraper .order-page-from-wraper .from-radio-btns {

    display: flex;
    gap: 15px;
    margin: 20px 0 25px 0;
}

.order-page-wraper .order-page-from-wraper h3{
    color: #080910;
    font-size: 18px;
    position: relative;
    font-weight: 600;
    margin-bottom: 20px;
}
.order-page-wraper .order-page-from-wraper h3::before {

    content: "";
    position: absolute;
    width: 60%;
    height: 1px;
    top: 12px;
    background: #CBCDDA;
    right: 0;
}

.order-page-wraper .order-page-from-wraper .form-check-custom {
    margin-top: 5px;
    
}

.order-page-wraper .order-page-from-wraper .form-address-heading::before {

    
    width: 80%;
    
}

/* .order-page-wraper .order-page-from-wraper input[type=radio]:checked {
    border: 1px solid #ddd !important;
    border-radius: 100%;
    background: red !important;
} */




.order-page-wraper .order-page-from-wraper .order-page-btn {

    
    border: none;
    border-radius: 0;
    background: linear-gradient(86.3deg, #00B780 0%, #14CA93 99.63%);
    filter: drop-shadow(0px 4px 4px rgba(0, 171, 140, 0.16));
   
    Width :135px;
    Height :50px;
    font-size: 16px;
    margin-top: 15px;
    transition: all 5s ease;

}

.order-page-wraper .order-page-from-wraper .order-page-btn:hover {

    background: linear-gradient(263.77deg, #2F3B49 0%, #293543 99.13%);
    filter: drop-shadow(0px 3px 9px rgba(0, 36, 162, 0.2));
    transition: all 0.3s ease;
}

.order-page-wraper .order-page-sidebar {
    background-color: white;
    padding: 20px;
    margin: 0 7px;
}

.order-page-wraper .order-page-sidebar .order-page-sidebar-header {
    display: flex;
    padding-bottom: 10px ;
    justify-content: space-between;
    border-bottom: 1px solid #CBCDDA;
}

.order-page-wraper .order-page-sidebar .order-page-sidebar-header h5 {
    color: #080910;
    font-weight: 600;
    font-size: 18px;
}
.order-page-wraper .order-page-sidebar .order-page-sidebar-product {
    display: flex;
    gap: 5px;
    padding: 20px 0;
    border-bottom: 1px solid #CBCDDA;
}
.order-page-wraper .order-page-sidebar .order-page-sidebar-detail img{
    max-width: 40px;
    height: 40px;
}
.order-page-wraper .order-page-sidebar .order-page-sidebar-detail  {
    color: #080910;
    font-weight: 400;
    font-size: 16px;
    width: 73%;
    display: flex;
    gap: 10px;
}
.order-page-wraper .order-page-sidebar .order-page-sidebar-detail h6 {

    color: #080910;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}
.order-page-sidebar-price{
    width: 26%;
    text-align: end;
   

}

.order-page-sidebar-price h5 {

    color:  #2F3B49;
   font-size: 16px;
   font-weight: 500;

}

.order-page-sidebar-body .order-page-order-summery h5{

    color: #080910;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0;
    margin-bottom: 0;
}


.order-page-sidebar-body .order-page-order-summery ul {
    padding: 0;
    list-style: none;
}


.order-page-sidebar-body .order-page-order-summery ul .active {
    padding: 10px 0;
    color: #4724AA;
    font-size: 18px;
    font-weight: 600;


}



input[type=checkbox] {
    
      cursor: pointer;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 1px solid #6B737C;
    border-radius: 0px;
    background-color: white;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: 1px solid #4724AA;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.order-page-wraper .order-page-from-wraper input[type=radio]{
    border:3px solid white;
    box-shadow:0 0 0 1px #414351;
    appearance:none;
    border-radius:50%;
    width:15px;
    height:15px;
    background-color:#fff;
    transition:all ease-in 0.1s;
  
  }


  .order-page-wraper .order-page-from-wraper input[type=radio]:checked{
    background-color:#4724AA;
  }
 
